.container {
  background-color: #fff;
  margin: 1.2rem 0;
  padding: 1.2rem 0;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.title {
  margin-left: 1.2rem;
}

.link {
  padding: 0.75rem 1.6rem;
  width: 100%;
  display: inline-block;
  color: $text-default-color;
  font-size: 0.875rem;
  cursor: pointer;
  // transition-duration: 0.2s;
  &:hover {
    color: $text-hover-color;
    background-color: $bg-color;
  }
}
.info {
  display: flex;
  justify-content: center;
}

.head {
  width: 6rem;
  height: 6rem;
  border-radius: 3rem;
}