.container {
  width: 100%;
  font-size: $font-sm-size;
  background-color: #fff;
  margin: 1.2rem 0;
}

.info {
  padding: 2rem 0;
  text-align: center;
  background-color: $text-hover-color;
  color: #fff;
  margin-bottom: 2rem;
}

.head {
  width: 6rem;
  height: 6rem;
  margin-top: 1rem;
  // border-radius: 3rem;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.note {
  font-size: $font-md-size;
  font-weight: bold;
  margin: 0.6rem;
}

.name {
  color: $text-default-color;
  font-size: $font-md-size;
  font-weight: bold;
  margin: 0.6rem;
}

.position {
  color: $text-secondary-color;
  font-size: $font-sm-size;
  margin: 0.4rem;
}

.location {
  color: $text-secondary-color;
  font-size: $font-xs-size;
  margin: 0.4rem;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem 0;
}

.link {
  padding: 0.4rem;
  color: $text-default-color;
  // transition-duration: 0.2s;
  & + & {
    margin-left: 0.4rem;
  }
  &:hover {
    color: $text-hover-color;
    background-color: $bg-color;
  }
}

.avatar {
  width: 6rem;
  height: 6rem;
  padding: 0.2rem;
  border: 1px solid #e2e2e2;
  img {
    width: 100%;
    height: 100%;
  }
}