.btn {
  position: fixed;
  right: calc((100% - 70rem) / 2 - 5rem);
  // bottom: 4rem;
  bottom: -4rem;
  color: #fff;
  background-color: $text-default-color;
  cursor: pointer;
  padding: 0.2rem;
  transition-duration: 0.2s;
  &:hover {
    background-color: $text-hover-color;
  }
}

.show {
  bottom: 3rem;
}

@media screen and (max-width: 1150px) {
	.btn {
    right: 2rem;
  }
}