.container {
  padding: 1.2rem 1.2rem 0 1.2rem;
  overflow: auto;
  flex: 1;
  line-height: 2;
}

.full {
  background-color: #ffffff;
  min-height: calc(100vh - 6rem - 1.2rem);
  padding: 3rem;
}

.title {
  color: $text-default-color;
  margin-bottom: 1rem;
}

.list {
  & + & {
    margin-top: 1rem;
  }
}

.sticky {
  position: sticky;
  top: 1.2rem;
  width: 100%;
  background-color: #fff;
  margin: 1.2rem 0;
  padding: 1.2rem 1.6rem;
  font-size: $font-sm-size;
}

.anchor {
  padding: 0.5rem 0;
  cursor: pointer;
}

@media screen and (max-width: 1150px) {
  .sticky {
    display: none;
  }
  .container {
    margin-top: 3rem;
    padding: 0.2rem 0.2rem 0 0.2rem;
  }
  .full {
    padding: 1rem;
    min-height: calc(100vh - 9rem - 1.2rem);
  }  
}