.container {
  background-color: #eaeaea;
  padding: 1.6rem;
  height: 100%;
  overflow: auto;
}

.article {
  background-color: #fff;
  padding: 3rem;
  margin-right: 22rem;
}

.toc {
  position: fixed;
  right: 2rem;
  top: 1.6rem;
  width: 20rem;
  padding: 2rem;
  background-color: #fff;
}