.container {
  padding: 1.2rem;
  height: 100%;
  overflow: auto;
  flex: 1;
}

.article {
  background-color: #fff;
  padding: 3rem;
}

.turns {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
}

.turn {
  display: inline-flex;
  align-items: flex-end;
}

.title {
  font-size: 1.625rem;
  margin-bottom: 1rem;
}

.header {
  text-align: center;
  margin-bottom: 4rem;
}

.description {
  font-size: 0.75rem;
  & + & {
    margin-left: 1rem;
  }
}